{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css">
    <link rel="icon" type="image/png" href="{% static 'portfolio/TomLogoTab.png' %}">
    <title>Tom Muñoz</title>

    <style>
        .main-banner {
            padding-top: 150px;
            padding-bottom: 100px;
            background-image: url("{% static 'portfolio/Banner.jpeg' %}");
            background-size: cover;
            color: white;
        }
    </style>

</head>

<body>
    <!--- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top custom_nav">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'portfolio/TomLogoTab.png' %}" width="20" height="20"
                    class="d-inline-block align-top" alt="Tom's Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="true" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about:about' %}">About Tom</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% static 'portfolio/resume.pdf' %}"
                            target='_blank'>Résumé</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'blog:all_blogs' %}">Blogs</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="https://www.tomomunoz.com" target="_blank">(Go to
                            Google Sites Version)</a></li>
                </ul>
                <div class="navbar-nav me-right mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Contact</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://twitter.com/tomomunoz"
                                    target="_blank">Twitter</a></li>
                            <li><a class="dropdown-item" href="https://www.linkedin.com/in/tomomunoz/"
                                    target="_blank">LinkedIn</a></li>
                            <li><a class="dropdown-item" href="https://www.facebook.com/tom.o.munoz"
                                    target="_blank">Facebook</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="mailto:tom.o.munoz@gmail.com" target="_blank">Email
                                    me</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <!-- Nav Bar End -->

    <!-- Home Banner -->

    <header class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="main-banner-content">
                        <h1>Tom Muñoz</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Home Banner End -->


    <!-- Insert Teamplate Here -->

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Insert Teamplate Here End -->


    <!-- Bottom Banner -->

    <header class="main-banner" style="margin-top: 25px; margin-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="main-banner-content">
                        <h1>Tom Muñoz</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Bottom Banner End -->


    <!-- Footer -->

    <section class="footer">
        <div class="container">
            <div class="row">
                <nav class="navbar fixed-bottom navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">Copyright &copy; 2022. All Rights Reserved</a>
                        <div class="col-lg-6 col-md-6 col-xs-6"></div>
                        <a href="mailto:tom.o.munoz@gmail.com">
                            <h4><i class="bi bi-envelope-open"></i></h4>
                        </a>
                        <a href="https://www.linkedin.com/in/tomomunoz/" target="_blank">
                            <h4><i class="bi bi-linkedin"></i></h4>
                        </a>
                        <a href="https://twitter.com/tomomunoz" target="_blank">
                            <h4><i class="bi bi-twitter"></i></h4>
                        </a>
                        <a href="https://www.facebook.com/tom.o.munoz" target="_blank">
                            <h4><i class="bi bi-facebook"></i></h4>
                        </a>
                        <a href="https://www.youtube.com/user/TomMunozInNC" target="_blank">
                            <h4><i class="bi bi-youtube"></i></h4>
                        </a>
                        <a href="https://www.reddit.com/user/tomunoz" target="_blank">
                            <h4><i class="bi bi-reddit"></i></h4>
                        </a>
                        <a></a>
                        <a></a>
                        <a>
                            <!-- TomBot using IBM Watson Assistant -->
                            <script>
                                window.watsonAssistantChatOptions = {
                                    integrationID: "9f9da153-3335-4832-b0d2-e7dd5db00db5", // The ID of this integration.
                                    region: "us-east", // The region your integration is hosted in.
                                    serviceInstanceID: "efaa5972-a444-4ce0-ba6f-22e10ac015da", // The ID of your service instance.
                                    onLoad: function (instance) { instance.render(); }
                                };
                                setTimeout(function () {
                                    const t = document.createElement('script');
                                    t.src = "https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
                                    document.head.appendChild(t);
                                });
                            </script>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <!-- Footer End -->



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!-- 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
     -->


</body>

</html>